<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div class="row">
  <div class="col-md-8">
    <h2>Colmd8</h2> 
  </div>
   <div class="col-md-4 well">
    <h2>Recente Posts</h2> 
    <% @articles.each do |a| %>
   
      <p><%= link_to a.title, a %></p> 
       -- <%= a.user.username %> -- : 
      <%= truncate(a.body) %>
    <% end %>
  </div>  
</div>
  